/* Base styles */
body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background: #fff;
}

/* Reset styles */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* H 2 */
.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
/* H 3 */
.subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* p */
.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header - Section - Top Line */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}

.nav-list {
  display: inline-flex;
  justify-content: space-between;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;

  margin-top: 24px;
  margin-bottom: 24px;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  display: inline-flex;
  justify-content: space-between;
}

/* Hero Section */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*Feature Section  */
.features {
}
.features-list {
}
.feature-list .features-list-item {
}

/* Team Section */
.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-list-item {
  background-color: #ffffff;
}
.team-card {
}

/* Portfolio Section */
.portfolio {
  background-color: #fff;
}
.portf-list {
}
.portf-list-item {
}
.portf-img {
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-light {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
